// Place all the styles related to the public/end_users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#show, #edit{
  span{
    font-size: 1.25rem;
    font-weight: bold;
  }
}
#edit{
  .table{
    input{
      border: 1px solid black;
      padding-left: 10px;
    }
  }
}
#withdraw{
  h2{
    text-align: center;
    margin: 10px;
  }
  p{
    text-align: center;
    margin: 0;
  }
}
